body {
    background-color: rgb(97, 155, 206);
    color: black;
}

h1 {
    font-size: 64px;
}

.kokos {
    color: rgb(60, 59, 59) 
}

.ctverecek {
    width: 50px;
    height: 50px;
    border: 30px;
    border-color: rgb(109, 173, 152);
    background-color: rgb(160, 129, 160);
}