body {
    background-color: rgb(97, 155, 206);
    color: black;
}

h1 {
    font-size: 64px;
}

.kokos {
    color: rgb(60, 59, 59) 
}

.ctverecek {
    width: 30px;
    height: 30px;
    border: 30px;
    background-color: rgb(227, 132, 227);
}